<%= render "percent/common3" %>
	<!-- BEGIN MAIN LAYOUT -->
	<!-- Header BEGIN -->
<%= render "video_board1/list" %>
<br><br><Br><br>
<div class="container">
  <%= render "post1/navbar" %>
    <form action = "/picture/update/<%=@post.id%>" method="post" >
      <div class="form-group">
        <label for="exampleFormControlInput1">제목</label>
        <input name="title" type="text" value="<%=@post.title%>" class="form-control" id="exampleFormControlInput1" >
      </div>
    
      <div class="form-group">
        <label for="exampleFormControlTextarea1">내용</label>
        <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="10" ><%=@post.content%></textarea>
      </div>
    
        <button type="submit">저장</button>
       <a href="/picture/index">목록</a>
 
    
    </form>

</div>
</div>