<%= render "post1/navbar" %>
<%= render "percent/common3" %>
	<!-- BEGIN MAIN LAYOUT -->
	<!-- Header BEGIN -->
<%= render "video_board1/list" %>
<br><br><Br><br>
<div class="container">
    <a href="/video_board1/index">
        그림 게시판
    </a>
    <!--<hr />은 줄을 그어줌-->
    <h1><%= @video.title %></h1><hr />
    <!--이 div안에 있는 건 다 오른쪽으로 옮긴다.-->
    <div style="text-align:right;">
        <!--config 폴더에 application에서 timezone을 Seoul로 바꾸고 +0900을 없앤다.-->
        <!--자료형이 datetime이기 때문에 string으로 바꾼다. 이후에 +를 기준으로 나눈다. 앞에껄 쓴다. secend나 last로 써도 된다.-->
        <!--뒤에 꺼는 몇 분전에 작성된 글인지 보여준다.-->
        <div><%= @video.created_at.to_s.split("+").first %>, <%= time_ago_in_words(@video.created_at)%> ago</div>
        <div><%= @video.user.username %></div>
        <!--어디로 보낼지 결정했으니까 routes로 가서 설정한다.-->
        <a href="/video_board1/edit/<%= @video.id %>">
            <span class="badge badge-info">수정</span>
        </a>
        <a href="/video_board1/destroy/<%= @video.id %>">
            <span class="badge badge-info">삭제</span>
        </a>
    </div>
    <div>
        <iframe width="854" height="480" src="<%= @video.video %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <hr />
    
    
    <% @video.video_reply1s.each do |r| %>
        <p><%=r.user.username%> : <%=r.content%></p>
        <a href="/video_reply1/destroy/<%=r.id%>">삭제</a>
        <hr>
    <%end%>

    <form action="/video_reply1/create" method="post">
        <div class="input-group">
          <input name="post_id" value="<%=@video.id%>" hidden="true">
          <textarea name="content" class="form-control col-11" id="exampleFormControlTextarea1" rows="3"  placeholder="댓글작성"></textarea>
          <span class="input-group-btn">
          <button type="submit" class="btn btn-dark">댓글 작성</button>
          </span>
        </div>
    </form> 

    
    <div style="text-align:right;">
        <a href="/video_board1/index">
            <span class="badge badge-dark">목록</span>
        </a>
    </div>
    
    <div>
        <table class="table table-borderless" margin-left="auto">
          <tbody>
            <tr>
              <td>이전글</td></td>
              <% if @predecessor == -1 %>
                  <td>이전 글이 없습니다.</td>
              <% else %>
                  <td><a href="/video_board1/show/<%= @predecessor_post_id %>"><%= @predecessor_post_title %></a></td>
              <% end %>
            </tr>
            <tr>
              <td>다음글</td>
              <% if @successor == -1 %>
              
                  <td>다음 글이 없습니다.</td>
              <% else %>
                  <td><a href="/video_board1/show/<%= @successor_post_id %>"><%= @successor_post_title %></a></td>
              <% end %>
            </tr>
          </tbody>
        </table>
    </div>
</div>